.Main-chat
  .Main-chat__group-info
    .Main-chat__group-c
      test
      .Main-chat__group-d
        Member : masa
    = link_to "#", class: "Main-chat__group-e" do
      Edit
  .Main-chat__message-list
    -# each do???
    .Main-chat__group-f
      masa
      .Main-chat__group-f-two
        datetime???
    .Main-chat__group-g
      おはよう！

  .Main-form
    %form.form
      .form-box
        %input.form-box__message{placeholder: "type a message" ,type: "text"}
        %label{class: "label"}
          = icon('fas', 'image')
          %input.file{type: "file"}
      %input.form-submit{type: "submit" ,value: "Send"}
